/* normal */
.overlay {
  fill: none;
  pointer-events: all;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.gnode .node {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 2px;
}

/* hasChild */
.gnode .hasChild {
    fill: #eee;
}

.gnode .text {
  font-family: sans-serif;
  pointer-events: none;
}

/* focus */
.gnode .focus {
  stroke: #FF8800;
  stroke-width: 2px;
}

.gnode .focus.highlight{
  stroke: #00f;
  fill: #FFAA33;
  stroke-width: 2px;
}

.gnode .focus.highlight.fixed{
  stroke: #00f;
  fill: #EE9922;
  stroke-width: 2px;
}

/* highlight */
.gnode .highlight, .link.highlight{
  stroke: #00f;
  stroke-width: 2px;
}

/* fixed */
.gnode .loaded {
    fill: #00ffff;
}

/* fixed */
.gnode .fixed {
    fill: #11FF11;
}

.gnode .fixed.hasChild {
    fill: #AAFFAA;
}
