/* normal */
.overlay {
  fill: none;
  pointer-events: all;
}

.link {
  stroke: #8f8686;
  stroke-width: 1.5px;
}

.gnode .text {
  fill: #fff;
  font-family: sans-serif;
  pointer-events: none;
}

.gnode .node {
  cursor: pointer;
  stroke: #ccc;
  stroke-width: 0px;
  opacity: 0.6;
}

/* fixed */
.gnode .fixed {
    stroke-width: 2px;
    opacity: 1;
}

/* hasChild */
.gnode .hasChild {
    stroke: #fff;
    stroke-width: 7px;
}

/* loaded */
.gnode .loaded {
    stroke: #00fefe;
    stroke-width: 4px;
}

/* focus */
.gnode .focus {

}

/* highlight */
.gnode .highlight, .link.highlight{
  stroke: #00f;
}
