table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}

.item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.item th {
    width: 25%;
}

.tag > div {
    display: inline;
    border: 1px solid black;
}

.itemNext > div {
    display: inline;
    cursor: pointer;
    border: 1px solid black;
}

/*node css*/
.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: rgb(128, 128, 128);
}

.focus {
  stroke: #00f;
}

.text {
  font-family: sans-serif;
  pointer-events: none;
}

svg {
    cursor: move;
}

.overlay {
  fill: none;
  pointer-events: all;
}
