.overlay {
  fill: none;
  pointer-events: all;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.gnode .node {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.gnode .highlight, .link.highlight{
  stroke: #00f;
  stroke-width: 2px;
}

.gnode .focus {
  stroke: yellow;
  stroke-width: 4px;
}

.gnode .focus.highlight{
  stroke: #00f;
  fill: yellow;
  stroke-width: 2px;
}

.gnode .text {
  font-family: sans-serif;
  pointer-events: none;
}

.gnode .hasChild {
    fill: rgb(123, 200, 138);
}

.gnode .fixed {
    fill: rgb(128, 128, 128);
}

.gnode .fixed.hasChild {
    fill: rgb(97, 143, 106);
}
